.card__title {
    max-width: 199px;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.2;
    text-align: left;
    margin: 0;
    padding-left: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}