.auth__input {
    width: 358px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    padding: 0 0 13px 0;
    border: none;
    border-bottom: 2px solid #cccccc;
    margin: 0 0 30px 0;
    background-color: black;
  }
  
  .auth__input:last-child {
    margin: 0;
  }
  
  .auth__input:focus {
    outline: none;
  }